<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.iu.home.board.qna.QnaMapper">

<select id="getList" parameterType="Pager" resultType="QnaVO">
	SELECT * FROM QNA 
	WHERE TITLE LIKE CONCAT('%', #{search}, '%')
	ORDER BY NUM DESC
	LIMIT #{startRow}, #{perPage}
</select>

<insert id="addQna">
	INSERT INTO QNA VALUES (null, 'WRITER', '제목입니다', '내용이에요', 0, sysdate(), 0, 0, 0)
</insert>
	
</mapper>