<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.iu.home.board.qna.QnaMapper">

<delete id="setDeleteFile" parameterType="QnaFileVO">
DELETE FROM QNAFILES 
WHERE FILENUM = #{fileNum}
</delete>

<update id="setUpdate" parameterType="QnaVO">
UPDATE QNA 
SET TITLE = #{title}, WRITER = #{writer}, CONTENTS = #{contents} 
WHERE NUM = #{num}
</update>

<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
SELECT * FROM QNAFILES
WHERE FILENUM = #{fileNum}
</select>

<select id="getList" parameterType="Pager" resultType="QnaVO">
	SELECT * FROM QNA 
	WHERE TITLE LIKE CONCAT('%', #{search}, '%')
	ORDER BY NUM DESC
	LIMIT #{startRow}, #{perPage}
</select>

<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
	SELECT *
	FROM QNA Q
	LEFT JOIN QNAFILES QF
	ON Q.NUM = QF.NUM
	WHERE Q.NUM = #{num}
</select>

<resultMap type="QnaVO" id="getDetailResult">
	<id column="NUM" property="num" />
	<result column="WRITER" property="writer"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENTS" property="contents"/>
	<result column="HIT" property="hit"/>
	<result column="REGDATE" property="regDate"/>
	<result column="REF" property="ref"/>
	<result column="STEP" property="step"/>
	<result column="DEPTH" property="depth"/>
	<collection property="qnaFileVOs" javaType="List" ofType="QnaFileVO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
	</collection>
	
</resultMap>

<insert id="addQna" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
	INSERT INTO QNA VALUES (#{num}, #{writer}, #{title}, #{contents}, 0, now(), 0, 0, 0)
</insert>

<insert id="addQnaFile" parameterType="QnaFileVO">
	INSERT INTO QNAFILES
	VALUES (NULL, #{num}, #{fileName}, #{oriName})
</insert>
	
</mapper>